<a href="https://colab.research.google.com/github/JoeJacob2755/AI_Project/blob/Melonoma_Tumor_Size/melonoma_tumor_size.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path = 'https://raw.githubusercontent.com/JoeJacob2755/AI_Project/Melonoma_Tumor_Size/melanoma_tumor_size.csv'
mel1 = pd.read_csv(path)
mel1.head()

   mass_npea  size_npear  ...  damage_ratio  tumor_size
0    6930.90     2919.02  ...       39.3620      14.103
1   15635.70     4879.36  ...       22.0253       2.648
2   10376.20     2613.88  ...       29.9963       1.688
3   13093.80     4510.06  ...       28.1354       3.796
4    7545.21     2882.36  ...       35.0200      18.023

[5 rows x 10 columns]